@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Kosugi');
*{
    margin:0;
    padding: 0;
}

body{
    text-align: center;
    margin:0 auto;
    background-image: url(../img/p0495_l.jpg);
}

header{
    height: 200px;
    background-image: url(../img/p0325_m.jpg);
}

ul{
    display:flex;

    font-size: 40px;

}

li{

    font-family: 'Sacramento', cursive;    
    margin: 130px 0 0 auto;
    padding-right: 30px;
}

main{
    background-color: rgb(255, 244, 237);
    width: 80%;
    margin:0 auto;
    height: 900px;
}

footer{
    margin-bottom:0;
    background-image: url(../../img/p0325_m.jpg);
}

a{
    color: black;
}

input{
    width: 60%;
    height: 50px;
    margin:20px;
    font-size: 20px;
    font-family: 'Kosugi', sans-serif;
}

textarea{
    resize: none;
    width: 60%;
    height: 600px;
    font-size: 20px;
    font-family: 'Kosugi', sans-serif;
}

button{
    margin: 20px 0;
    width: 400px;
    height: 60px;
    border-radius: 10px;
    border-color:  rgb(145, 38, 38);
    font-size: 30px;
    background-color: rgb(145, 38, 38);
    color:white;

}