@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Kosugi');

* {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	margin: 0 auto;
	background-image: url(../img/p0495_l.jpg);
}

header {
	height: 200px;
	background-image: url(../img/p0325_m.jpg);
}

ul {
	display: flex;

	font-size: 40px;

}

li {

	font-family: 'Sacramento', cursive;
	margin: 130px 0 0 auto;
	padding-right: 30px;
}




.main {
	background-color: rgb(255, 244, 237);
	width: 80%;
	margin: 0 auto;
}
.test1{
	background-color: rgb(255, 244, 237);
	width: 80%;
	margin: 0 auto;
	height: 900px;
}


.blog-list-flex{
	display:flex;
	flex-wrap: wrap;
}



.blog-topic-article {
	margin-right:20px;
	margin-left:20px;
	margin-bottom:50px;
	padding-top:20px;
	width:30%;

}
.mainImage{ 
	height: 450px;
	width:450px;
}

.trash{
	height: 25px;
	width:25px;
	display: flex;
 	justify-content: flex-end;
}

.colum__box{

	background-color:gray;
	color:white;
}

.colum__box{

	height:60px;
	background-color:gray;
	color:white;
}

p{
	padding-top:5px
}


footer {

	margin-bottom: 0;
	background-image: url(../../img/p0325_m.jpg);
	height: 100px;
}

a {
	color: black;
}