<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/register.css}">
    <title>Register</title>
</head>
<body>

    <header>

    </header>

    <main>

        <h1>Register</h1>

        <form method="post" th:action="@{/register}">

            <div class="name">
                <input type="text" id="name" name="username" placeholder=" Username" required>
            </div>
            
            <div class="pass">
                <input type="password" id="pass" name="password" placeholder=" Password" required>
            </div>
            
            <div class="e-mail">
                <input type="e-mail" id="e-mail" name="email" placeholder=" E-mail" required>
            </div>

            <button id="submit">Register</button>

        </form>
        
    </main>
</body>
</html>