<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/top.css}">
	<title>Document</title>
</head>

<body>
	<header>

		<ul>
			<li><a th:href="@{/top}">Home</a></li>
			<li><a th:href="@{/blog/register}">Blog Register</a></li>
			<li><a th:href="@{/logout}">Logout</a></li>
		</ul>

	</header>

	<main th:class="${blogList.size() > 3} ? 'main' : 'test1'">
		<section class="first-view-section">

		</section>

		<section class="blog-list-section">



			<div class="blog-list-flex">

				<article class="blog-topic-article" th:each="blog:${blogList}">

					<!--ログインしているユーザが作成した記事の場合編集画面へ遷移-->
					<a th:if="${blog.accountId == accountId}" th:href="@{'/blog/edit/' +${blog.blogId}}"
						class="blog-colum">
						<img class="mainImage" th:src="@{'/images/' + ${blog.blogImage}}">
					</a>

					<!--ログインしているユーザが作成した記事ではない場合閲覧画面へ遷移-->
					<a th:if="${blog.accountId != accountId}" th:href="@{'/blog/view/' +${blog.blogId}}"
						class="blog-colum">
						<img class="mainImage" th:src="@{'/images/' + ${blog.blogImage}}">
					</a>
					<div class="colum__box">
						<p th:text=" ${blog.blogTitle}"></p>

						<!--ログインしているユーザが作成した記事にのみ削除ボタンを表示-->
						<form th:action="@{/top}" method="post">
							<input type="hidden" name="blogId" th:value="${blog.blogId}">
							<button th:if="${blog.accountId == accountId}">
								<img class="trash" th:src="@{/img/965_tr_h.png}">
							</button>
						</form>

					</div>
				</article>
			</div>
		</section>
	</main>

	<footer>
		 <p class="copyright">Copyright &copy; 2023 Learner All Rights Reserved.</p>
	</footer>


</body>

</html>